# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Android
android/app/build/
android/build/
android/app/src/main/assets/flutter_assets/
android/key.properties
android/local.properties
android/.gradle/

# iOS
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*

# Linux
linux/flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugins.cmake
windows/runner/Debug/
windows/runner/Profile/
windows/runner/Release/